/**ESTILOS GENERALES**/
* {
  margin: 0;
  padding: 0;
}

h1,
h4 {
  margin-top: 1%;
  text-align: center;
}

hr {
  border: 1px solid #f1c40f;
}

.panel {
  border: 1px solid black;
  box-shadow: 12px 12px 12px grey;
  margin: 4%;
}

/*SIMBOLO DE CARGA*/
#contenedor_carga {
  background-color: white;
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 10000;
}

#logo_carga {
  width: 90px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#carga {
  border: 10px solid white;
  border-top-color: #d01515;
  border-top-style: groove;
  height: 120px;
  width: 120px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: girar 1.5s linear infinite;
  -o-animation: girar 1.5s linear infinite;
  animation: girar 1.5s linear infinite;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**VISTA LOGIN**/
body {
  background: #4d4d4d;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.login {
  padding: 2%;
  background: white;
  display: block;
  margin: 6% auto;
  width: 90%;
}

.login p {
  font-size: 15px;
  text-align: center;
}

.login img {
  width: 100%;
}

.login a {
  color: grey;
}

.modal-header {
  width: 100%;
  text-align: center;
}

/**BOTONES**/
.boton_principal {
  background: #d01515;
  color: white;
  width: 70%;
  display: block;
  margin: auto;
}

.boton_principal:hover {
  background: #a13729;
}

/**VISTA ERROR**/
#vista_error {
  background: white;
  border: 3px double black;
  display: block;
  margin: auto;
  text-align: center;
}

#vista_error img {
  display: block;
  margin: auto;
  width: 45%;
}

/**BARRA DE NAVEGACION**/
.navbar{
  background: #4D4D4D;
}

.nav-link, .navbar-brand{
  color: white;
}

.nav-link:hover, .navbar-brand:hover{
  color: black;
}

.nav-item{
  text-align: center;
}

nav img{
  width: 3.5em;
  margin-right: 2%;
}

nav #menu{
  color: white;
  font-size: 2em;
}

.opciones{
  text-align: center;
  color: black;
  font-size: 15px;
}

.opciones:hover{
  background: #D01515;
  color: white;
}

.bi-list{
  color: white;
}
